<div class="backgroundImage w-full h-screen bg-cover">
   <div style="padding-left: 30px; padding-right: 30px; padding-top: 30px;">
      <!-- HEADER -->
         <top-header></top-header>
      <!-- SOCIAL MEDIA -->
      <div class="flex">
         <div class="mr-32">
            <social-media></social-media>
         </div>
         <div class="mt-56">
            <span class="text-white text-8xl">Valentina Perez</span><br><span class="text-white text-6xl" > Photographer</span>
         </div>
      </div>    
   </div>
</div>