<div class="flex justify-between mb-4 ">
      <span class="text-white text-2xl ml-2 ">Valentina</span>
  <div class=" font-semibold text-white flex gap-10 sm:flex hidden">
    <a href=""><span class="hover:underline  underline-offset-2 cursor-pointer">Inicio</span></a>
    <a href="#About me"><span class="hover:underline underline-offset-2 cursor-pointer">Sobre mi</span></a>
    <a href="#Photos"><span class="hover:underline underline-offset-2 cursor-pointer">Portfolio</span><br></a>
  </div>
</div>
