<div class="flex justify-between px-8">
    <div class="text-gray-600 text-center gap-4 ">
        <span class="font-semibold">Enlaces de Interes</span><br>
        <a href=""><span class="hover:underline hover:text-slate-800 underline-offset-2 cursor-pointer">Inicio</span></a><br>
        <a href="#About me"><span class="hover:underline  hover:text-slate-800	underline-offset-2 cursor-pointer">Sobre mi</span></a><br>
        <a href="#Photos"><span class="hover:underline hover:text-slate-800	 underline-offset-2 cursor-pointer">Portfolio</span></a>
    </div>
    <div class="text-gray-600 text-center ">
            <span class="font-semibold">Redes Sociales </span>
        <div class="flex gap-4 mt-4"> 
            <a target="_blank" href="">
                <img class="cursor-pointer" src="/assets/icons/facebook.svg" alt="facebook-icon">
            </a>
            <a target="_blank" href="">
                <img class=" cursor-pointer" src="/assets/icons/whatsapp.svg" alt="whatsapp-icon">
            </a> 
            <a target="_blank"  href="">
                <img class=" cursor-pointer  " src="/assets/icons/instragramgray.svg" alt="instagram-icon">
            </a>  
        </div> 
    </div>
</div>
